@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@font-face {
  font-family: "SFPRODISPLAYMEDIUM";
  src: url("/fonts/SFPRODISPLAYMEDIUM.OTF") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "impact";
  src: url("/fonts/impact.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.fade-in {
  animation: fadeIn 1s ease-out forwards;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "SFPRODISPLAYMEDIUM", sans-serif;
  font-family: "impact", sans-serif;
}
